/404.html
/de
/docs
/es
/faq.html
/favicon.ico
/fr
/howto.html
/howto_platform_links.html
/howto_shared_links.html
/hu
/images
/index.html
/it
/javascripts
/jp
/phpinfo.php
/pl
/pt_br
/ro
/ru
/stylesheets
/tr
/ur
/zh_cn
/zh_tw